@font-face {
    font-family: Asket;
    src: url(./assets/fonts/Glen-Jan-AsketNarrow-Light.otf);
}

@font-face {
    font-family: Andis;
    src: url(./assets/fonts/JAM-Type-Design-Andis-Regular.otf);
}



* {
    font-family: Andis;
}

#nav {
    font-family: Asket;
}

#next, #prev, #social {
    color: #bba14f;
}




/* MODEL UNIT CAROUSEL */
.fade-anim img {
    animation: fadeAnim 1s ease-out;
}

@keyframes fadeAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* BACK TO TOP */

.arrow {
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #CCCC00;
    border-right: 5px solid #CCCC00;
    transform: rotate(225deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: rotate(225deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(225deg) translate(-20px, -20px);
    }
}




@tailwind base;
@tailwind components;
@tailwind utilities;