@font-face {
    font-family: 'Poppins';
    src: local('Poppins')
     url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

#font-face-gm {
    font-family: 'Poppins';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

